<main class="login-main">
    <section class="left">
        <img src="media/images/login.jpg" alt="">
    </section>
    <section class="right">
        <h2>Commencer</h2>
        <p>Vous n'etes pas encore inscris ? <span>inscrivez vous</span></p>
        <form action="" method="post">
            <div class="form-inputs">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="koffi@gmail.com">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" placeholder="********">
            </div>
            <button class="btn-link btn-submit" type="submit">Se connecter</button>
        </form>
    </section>
</main>