<main class="flex w-full justify-center">
    <div [ngClass]="{'navbar': true, 'scrolled': isScrolled}">
        <img src="media/images/Logo.png" alt="">
        <div class="nav-links">
            <a href="">Catégories</a>
            <a href="">Services</a>
            <a href="">Clients</a>
        </div>
        <div class="hamburger" (click)="toggleMenu()" [ngClass]="{'active': isMenuOpen}">
            <span></span>
            <span></span>
            <span></span>
        </div>
        

        <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn-connexion">Se connecter</a>
    </div>
    <div class="menu-modal" [ngClass]="{'active': isMenuOpen}">
        
    </div>
</main>
